.header {
    width: 100vw;
    height: 100vh;

    background-image: url("/home/malek/projects/myportfolio/public/backgound.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center; 
    justify-content: center;

    position: relative; 
}

.header-content {
    position: relative; 
    z-index: 2; 
    text-align : center; 
    color: black; 
}

.header-content h1 {
    font-size: 3rem; 
    margin-bottom: 1rem; 
    font-weight: bold;
}